/*Cloud animation background*/
.clouds-bg-animation {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  background: url(/images/cloud.png);
  background-size: cover;
  animation: animate 100s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -5440px;
  }
}

/*Navigation bar*/
.navbar li a:hover {
  color: var(--iceblue);
}
.navbar li a:focus {
  color: var(--iceblue);
}
.navbar-brand:hover {
  color: var(--iceblue);
}
.navbar {
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease;
}
.navbar.sticky {
  background-color: rgb(255, 255, 255);
}

/*Hi, welcome to*/
.about-header {
  display: flex;
  font-family: "Ubuntu", sans-serif;
  height: 60vh;
}
.about-header .text {
  padding-top: 40%;
  color: rgb(29, 29, 29);
  padding-left: 10%;
}
.about-header .text .intro {
  font-size: 25px;
  font-weight: 500;
  color: var(--iceblue);
}
.about-header .text .stack {
  font-size: 50px;
}
.stack {
  display: grid;
  grid-template-columns: 1fr;
}
.stack span {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 4rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(0.46, 0.29, 0, 1.24) 1 backwards
      calc(var(--index) * 120ms),
    glitch 2s ease infinite 2s alternate-reverse;
}
.stack span:nth-child(odd) {
  --glitch-translate: 8px;
}
.stack span:nth-child(even) {
  --glitch-translate: -8px;
}

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 var(--iceblue), 2px -3px 0 blue;
  }
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 var(--iceblue), -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 var(--iceblue), 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 var(--iceblue), -2px 3px 0 blue;
  }
  4%,
  100% {
    text-shadow: none;
    transform: none;
  }
}

/*Contact form*/
.contact-form--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  padding: 40px;
}
.contact-form {
  background: #fff;
  width: 500px;
  max-width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 3%;
}
.contact-form .text {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  background: -webkit-linear-gradient(right, black, var(--iceblue),black,var(--iceblue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-form form .form-row {
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
  color: rgb(173, 169, 169);
}
form .form-row .textarea {
  height: 70px;
}
.input-data input,
.textarea textarea {
  display: block;
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  outline: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.checkbox {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 17px;
  margin: 0 20px;
  position: relative;
}
input[type='checkbox']{
  width: 13px !important;
  height: 13px !important;
  appearance:none;
  border: 2px solid lightblue;
  font-size: 2em;
}
input[type='checkbox']:checked{
  width: 13px !important;
  height: 13px !important;
  appearance:none;
  background-color: lightblue;
  font-size: 2em;
}
.input-data label {
  position: absolute;
  bottom: 10px;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.3s ease;
}
.textarea textarea {
  resize: none;
}
.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label {
  transform: translateY(-20px);
  color: var(--iceblue);
  font-weight: 600;
}
.textarea label {
  width: 100%;
  top: 10px;
  bottom: 70px;
  background: #fff;
}
#submit-btn :hover {
  background-color: var(--iceblue);
  transition: 0.5s;
}

/*Footer*/
.footer-bgimg {
  background: url(/images/DSC_8990.jpg);
  background-size: cover;
  position: relative;
  height: 10vh;
}
footer p {
  font-family: var(--p);
}
body p {
  color: var(--gray);
  text-align: center;
  padding-top: 30px;
  font-weight: 600;
}

/*For screens bigger than 768px*/
@media screen and (min-width: 768px) {
  .header-bgimg {
    height: 90vh;
  }
  .about-header .text {
    padding-top: 20%;
  }
  .clouds-bg-animation {
    height: 90vh;
  }
}