@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');


:root {
    --background: #060608;
    --color: #FAFAFA;
  }
.clouds-bg-animation {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background: url(/images/cloud.png);
    background-size: cover;
    animation: animate 60s linear infinite;
}
@keyframes animate {
    0% {
      background-position: 0px;
    }
    100% {
      background-position: -5440px;
    }
}

.navbar{
    background-color: white;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}
.navbar.sticky{
    background-color: white;
}

.about-header {
  display: flex;
  font-family: "Ubuntu", sans-serif;
  /* background-color: rgb(255, 255, 255, 0.2); */
  height: 60vh;
}
.about-header .text {
  padding-top: 20%;
  color: rgb(29, 29, 29);
  padding-left: 10%;
}
.about-header .text .intro {
  font-size: 25px;
  font-weight: 500;
  color: var(--iceblue);
}
.about-header .text .stack {
  font-size: 50px;
}
.stack {
  display: grid;
  grid-template-columns: 1fr;
}
.stack span {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 4rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(0.46, 0.29, 0, 1.24) 1 backwards
      calc(var(--index) * 120ms),
    glitch 2s ease infinite 2s alternate-reverse;
}
.stack span:nth-child(odd) {
  --glitch-translate: 8px;
}
.stack span:nth-child(even) {
  --glitch-translate: -8px;
}

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 var(--iceblue), 2px -3px 0 blue;
  }
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 var(--iceblue), -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}
@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 var(--iceblue), 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 var(--iceblue), -2px 3px 0 blue;
  }
  4%,
  100% {
    text-shadow: none;
    transform: none;
  }
}

.about-content{
    margin: 5%;
}
.about-me--img{
    margin-bottom: 10px;
}
.right .text .intro{
    font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-me--skill-bar {
    width: 80%;
    padding: 30px 30px 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  } 
  
  #about-me--img{   
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
  }
  .about-me--img{
      text-align: center;
  }
  .about-me--header{
      text-align: center;
  }
  .about-me--skill-bar-header {
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
  }
  .about-me--skill-bar--bar {
    position: relative;
    border: 2px solid #0d96e0;
    border-radius: 20px;
  }
  
  .about-me--skill-bar--bar div {
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #0d96e0;
  }
  .about-me--skill-bar--details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  #cs-bar {
    animation: cs-fill 2s forwards;
  }
  #html-bar {
    animation: html-fill 2s forwards;
  }
  #css-bar {
    animation: css-fill 2s forwards;
  }
  #bootstrap-bar {
    animation: bootstrap-fill 2s forwards;
  }
  #swedish-bar {
    animation: swedish-fill 2s forwards;
  }
  #english-bar {
    animation: english-fill 2s forwards;
  }
  @keyframes cs-fill {
    100% {
      width: 70%;
    }
  }
  @keyframes html-fill {
    100% {
      width: 50%;
    }
  }
  @keyframes css-fill {
    100% {
      width: 55%;
    }
  }
  @keyframes bootstrap-fill {
    100% {
      width: 35%;
    }
  }
  @keyframes swedish-fill {
    100% {
      width: 100%;
    }
  }
  @keyframes english-fill {
    100% {
      width: 90%;
    }
  }
  /* portfolio css*/
  .portfolio-slideshow{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider{
    position: relative;
    background: rgb(189, 222, 236);
    width: 800px;
    min-height: 500px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
  }
  
  .slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
  }
  
  .slider .slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slider .slide .info{
    position: absolute;
    color: #222;
    background: rgba(255, 255, 255, 0.7);
    width: 75%;
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
  }
  
  .slider .slide .info h2{
    font-size: 2em;
    font-weight: 800;
  }
  
  .slider .slide .info p{
    font-size: 1em;
    font-weight: 400;
  }
  
  .navigation{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .slider:hover .navigation{
    opacity: 1;
  }
  
  .prev-btn, .next-btn{
    z-index: 999;
    font-size: 2em;
    color: #222;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor: pointer;
  }
  
  .prev-btn{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  .next-btn{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .navigation-visibility{
    z-index: 999;
    display: flex;
    justify-content:center;
    
  }
  
  .navigation-visibility .slide-icon{
    z-index: 999;
    background: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 10px;
    transform: translateY(-50px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }
  
  .navigation-visibility .slide-icon.active{
    background: rgb(189, 222, 236);
  }
  .portfolio-info{
    flex-direction: row;
      flex-wrap: wrap;
      justify-content:space-evenly;
      padding: 10px 20px 50px 20px;
  }

  .portfolio-text{
    min-width: 200px;
    padding: 30px 30px 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    margin: 10px 10px 20px 10px;
    justify-content: space-evenly;
    justify-self: center;
    text-align: center;
  }
  .portfolio-text-img{
    height: 166px;
    width: 250px;  
    border-radius: 10px;
    overflow: hidden; 
  }
  .portfolio-text-header{
    margin-top: 5px;
  }
  
  /*For screens bigger than 768px*/
  @media screen and (min-width: 768px) {
    .header-bgimg{
      height: 90vh;
    }
    .navbar{
      background-color: rgb(255,255,255,0.3);
    }
    
    .about-me--skill-bar {
      width: 20%;
      min-width: 200px;
      
    }
    .about-me--img{
      text-align: start;
    }
    .about-content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        
    }
    .about-me--header{
        margin-top: 20px;
    }
    
    
    .about-me .about-content .left{
        width: 40%;
    }
    .about-me .about-content .left .about-me--img{
        object-fit: cover;
    }
    .about-me .about-content .right{
        width: 60%;
    }
    .about-me .about-content .right p{
        text-align: justify;
    }
    .clouds-bg-animation{
      height: 90vh;
    }
    /* media portfolio*/
    .slider{
      width: 70%;
      height: 60vh;
    }
  
    .slider .slide .info{
      position: relative;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    .portfolio-info{
      display: flex;
      flex-flow: wrap;
      
      justify-content: space-evenly;
      margin: 5px;
    }
    .portfolio-text-img{
      height: 200px;
      width: 300px;  
      border-radius: 10px;
      overflow: hidden; 
    }
    .portfolio-text{
      margin-left: 50px;
      margin-right: 50px;
    }
    .portfolio-text p{
      margin-left: 50px;
      margin-right: 50px;
    }
    
  }
  *{
    font-family: 'Poppins',sans-serif;
}
:root{
--link-color:rgb(0,0,0);
 --link-hover-color:rgb(189, 222, 236);
 --black:rgb(0,0,0);
 --iceblue: rgb(189, 222, 236);
 --navbar-color:rgb(255, 255, 255, 0.3);
 --navbar-sticky-color: rgb(255, 255, 255);
 --p: font-family: 'Merriweather' black;
 --skill-bar-color:rgb(189, 222, 236);
 --text-shadow-color-1: rgb(255,0,0);
 --text-shadow-color-2: rgb(0, 0, 255);
 --header-bgimg-color:rgba(255, 255, 255, 0.2);
}

  .glitch {
    font-size: 4.5rem;
    font-weight: 700;
    position: relative;
    text-shadow: 0.025em 0 0 var(--iceblue),
      -0.0125em -0.025em 0 white,
      0.0125em 0.025em 0 rgba(0, 0, 255, 0.75);
    animation: glitch-layer 340ms cubic-bezier(0.46, 0.29, 0, 1.24) 1 backwards, glitch 2s infinite 2s alternate-reverse;
  }
  
  .glitch span {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .glitch span:first-child {
     animation: glitch 1s infinite; 
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.0125em);
    
    opacity: 0.8;
  }
  
  .glitch span:last-child {
     animation: glitch 1.5s infinite; 
    clip-path: polygon(0 60%, 100% 20%, 100% 100%, 0 100%);
    transform: translate(0.0125em, 0.025em);
    
    opacity: 0.8;
  }
  
  
  
  @keyframes glitch {
    0% {
      text-shadow: 0.025em 0 0 var(--iceblue),
        -0.025em -0.0125em 0 white,
        -0.0125em 0.025em 0 rgba(0, 0, 255, 0.75);
    }
    2% {
      text-shadow: -0.025em 0 0 var(--iceblue),
        0.055em 0.025em 0 white,
        0.0125em -0.025em 0 rgba(0, 0, 255, 0.75);
    }
    4%, 
    100% {
      text-shadow: none;
      transform: none;
    }
  }
  @keyframes glitch-layer {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: 0.05em 0.075em 0 var(--iceblue), -0.025 -0.05 0 blue;
    }
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 0.025em 0.075em 0 var(--iceblue), -0.025 -0.05 0 blue;
    }
    100% {
      text-shadow: none;
    }
  }
  
  